//Footer (ten block) block start

.footer {

    &__top {
        background: #17213C;
        padding: 35px 0;
    }

    &__main {
    }
    &__row {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
    }

    &__column {
        padding: 15px 15px;
        flex: 0 1 16.6667%;
        color: #FFFFFF;
        @media (max-width:992px) {
            flex: 0 1 25%;
            &:last-child{
                flex: 0 1 100%;
            }
        }
        @media (max-width:767px) {
            flex: 0 1 50%;
        }
        &:last-child{
            flex: 0 1 33.334%;
        }
    }

    &__label {
        padding: 0 0 20px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.1px;
    }

    &__menu {
    }

    &__contacts {
    }

    &__bottom {
    }

    &__container {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:767px) {
            flex-direction: column;
        }
    }

    &__copy {
        padding: 0 20px 0 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.2px;
        color: #737373;
        @media (max-width:767px){
            margin:0 0 15px 0;
            text-align: center;
        }
    }

    &__social {
    }
}
.menu-footer {
    &__list {
    }

    &__item {
        &:not(:last-child){
            margin: 0 0 10px 0;
        }
    }

    &__link {
        color: #FFFFFF;
        display: inline-block;
        line-height: 171%;
        letter-spacing: 0.2px;
        &:hover{
            text-decoration: underline;
        }
    }
}
.contacts-footer {
    display: flex;
    flex-direction: column;

    &__item {
        padding: 0 0 0 34px;
        display: flex;
        line-height: 142%;
        align-items: center;
        min-height: 30px;
        color: #FFFFFF;
        &:hover{
            text-decoration: underline;
        }
        &:not(:last-child){
            margin: 0 0 10px 0;
        }
        &_phone {
            background: url('../img/footer/01.svg') 0 0 no-repeat;
        }

        &_map {
            background: url('../img/footer/02.svg') 0 0 no-repeat;
        }

        &_email{
            background: url('../img/footer/03.svg') 0 0 no-repeat;
        }
    }
}
.social {
    display: flex;
    align-items: center;
    &__item {
        &:not(:last-child){
            margin: 0 15px 0 0;
        }
    }
}

//Footer (ten block) block end